
head
  title Your title here...

  meta(name='viewport' content="width=device-width, initial-scale=1")
  meta(name='description' content="<your_description>")
  meta(name="google-site-verification" content="<your_site_verification_here>")

  meta(property="og:title" content="<your_title>")
  meta(property="og:description" content="<your_description>")
  meta(property="og:image" content="<your_image_url>")
  meta(property="og:url" content="<your_site_url>")
  meta(name="twitter:card" content="<your_summary>")

  link(rel='stylesheet', href='/_css/style.css')
  link(rel='shortcut icon' type='image/png' href='<your_favicon_here>')
  script(src='/_javascript/scripts.js')
  script(src="/_javascript/gtag.js")
  script(src='/_javascript/vue.min.js')
  script(src='/_javascript/axios.min.js')
  script(src='/_javascript/lodash.min.js')
  script(src='/_javascript/moment.min.js')
  //- Add or remove scripts here..
