//- include ../shared/head.pug
//-
//- html
//-   body(onload='setLoaded()')
//-     include ../layout/header.pug
//-
//-     div#overlay
//-     div#works.content
//-       h1.page-title Work
//-       div.title-line
//-       h2.page-tagline What we've done. An overview.
//-
//-       ul
//-         each work in works
//-           li
//-             h2= work.fields.clientName
//-             div.display
//-               img(src=work.fields.screenshots[0].fields.file.url)
//-               h3.serif= work.fields.whatWeDid
//-               a.button(href=`work/${work.fields.urlSafeTitle}`) See more
//-
//-
//- include ../layout/footer.pug
