//- include ../shared/head.pug
//-
//- html
//-   body(onload='onloadHandler()')
//-     include ../layout/header.pug
//-
//-       ul
//-         each work in works
//-           li
//-             h2= work.fields.clientName
//-             div.display
//-               img(src=work.fields.screenshots[0].fields.file.url)
//-               h3.serif= work.fields.whatWeDid
//-               a.button(href=`work/${work.fields.urlSafeTitle}`) See more
//-
//-
//- include ../layout/footer.pug
